dl {
    margin-top: 30px;
    margin-left: 35px;
}

#about {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 35px;
}

td {
    width: 1%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.sertifikabtk tr:nth-child(even) {
    background-color: #D6EEEE;
    vertical-align: middle;
}

.sertifikapat tr:nth-child(even) {
    background-color: #D6EEEE;
    vertical-align: middle;
}

.sertifikaglob tr:nth-child(even) {
    background-color: #D6EEEE;
    vertical-align: middle;
}

.kursbtk tr:nth-child(even) {
    background-color: #D6EEEE;
    vertical-align: middle;
}